<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<string>Custom Amount</string>
			<string>Add a custom amount</string>
		</array>
		<array>
			<string>Recent</string>
			<string></string>
		</array>
	</array>
	<array/>
	<array>
		<array>
			<string>Undo</string>
			<string></string>
		</array>
		<array>
			<string>Redo</string>
			<string></string>
		</array>
	</array>
</array>
</plist>
